

.container{
    text-align: center;
    margin-top:-8px;
    background-image: url("pic2.jpg");
    background-size: cover;
   

}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 5px solid #480326;
    font-size:34px;
    height: 65px;
    width: 456px;
    
    
}

button{
    
    font-size: 40px;
    background: #978fa0;
    width: 102px;
    height: 85px;
    margin: 6px;
    border: 1px solid black;
    border-radius: 10px;
}

.calculator{ 
    background-image: "pic.jpg";
    border: 4px solid #820951;
    background-color: #db7d99;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    margin: 27px;
}
#screen{
    background-color: rgb(190, 232, 175);
    
   
}

